<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <style>
        form.form-inline.space{
        padding-left: 267px;
        }
    </style>
    {% load static %}
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row"> 
            <div class="col-9 ">
            <h1>Welcome to Get That Job Website!</h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="{% static 'img/logo.jpg' %}" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if  request.session.logged_user_info %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/in">Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/booking">Booking</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        {% if request.session.logged_user_info.user_role == 1 %}
                        <li class="nav-item active">
                            <a class="nav-link " href="/admin">Admin View</a>
                        </li>
                        {% endif %}
                        
                        <li>
                            <form class="form-inline space">
                                <input name="product" id="product" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            
                        </li>
                    {% endif%} 
                    {% if not request.session.logged_user_info %}
                        <form class="form-inline">
                            <label class="nav-item active"> Email:</label>
                            <input class="form-control mr-sm-2"  placeholder="Email">
                            <label class="nav-item active"> Password:</label>
                            <input class="form-control mr-sm-2"  placeholder="Password">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log-In</button>
                        </form>
                        <form class="form-inline">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
                        </form>
                        {% endif%}
                        {% if request.session.logged_user_info %}
                            <li class="nav-item active">
                                <a class="nav-link " href="/profile">Hello {{ request.session.logged_user_info.first_name }} {{request.session.logged_user_info.last_name}}</a>
                            </li>  
                            <form class="form-inline" action="log_out"  method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
                            </form>  
                        {% endif%}
                </ul>
            </div>
        </nav>
    <div class="main">
        {% for consultant in consultants %}
        <div class="list">
            <h3>Consultant Information:</h3>
        </div>
        {%endfor %}
    
       
    
</body>
</html>